.titleSearch {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    display: block;
    padding-top: 3.5em;
}
.item {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 21px;
    color: whitesmoke;
    background-color: black;
}

.searchList {
    padding-bottom: 20%;
    display: block;
}

.input {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 19px;
    color: whitesmoke;
}



.searchLabel {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 17px;
    color: darkorange;
    padding-top: 0.5em;
    display: block;
}