.titleHome {
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 50px;
    padding-top: 2.5em;
}
.textHome1 {
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    padding-top: 5em;
}

